{% load blog_tags %}
<nav style="width: 200px; float: left; border: solid 1px; margin: 0 0 5px 5px; padding: 5px">
    <p><strong>公告</strong></p>
    <hr>
    <div>
        {% get_master as master %}
        <p>昵称: {{ master.nickname }}</p>
        <p>园龄: {{ master.age.year }}年{{ master.age.month }}月</p>
        <p>粉丝: {{ master.fans_num }}</p>
        <p>关注: {{ master.concern_num }}</p>
        <p><a href="#">+加关注</a></p>
    </div>
    <br>

    <p><strong>搜索</strong></p>
    <hr>
    <form role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
        <input type="search" name="q" placeholder="搜索" required>
        <button type="submit">搜一下</button>
    </form>

    <p><strong>随笔分类</strong></p>
    <hr>
    <div>
        {% get_categories as category_list %}
        <ul>
            {% for category in category_list %}
                <li><a href="{% url 'blog:category' category.id %}">{{ category.name }}({{ category.num_post }})</a></li>
            {% endfor%}
        </ul>
    </div>
    <br>

    <p>随笔档案</p>
    <hr>
    <div>
        {% archives as archive_list %}
        <ul>
            {% for archive in archive_list %}
                <li><a href="{% url 'blog:archive' archive.archive_date.year archive.archive_date.month %}">{{ archive.archive_date.year }}年{{ archive.archive_date.month }}月({{ archive.num_post }})</a></li>
            {% endfor%}
        </ul>
    </div>
    <br>

    <p><strong>最新评论</strong></p>
    <hr>
    <div>
        {% get_new_comments as comment_list %}
        {% for comment in comment_list %}
            <div>
                <p><a href="{% url 'blog:detail' comment.post.id %}">{{ forloop.counter }}.{{ comment.post.title }}</a></p>
                <p>{{ comment.content|linebreaks }}</p>
                <p style="text-align: right">--{{ comment.user.nickname }}</p>
            </div>
        {% endfor %}
    </div>
    <br>

    <p><strong>阅读排行榜</strong></p>
    <hr>
    <div>
        {% read_ranking as post_list %}
        {% for post in post_list %}
            <p><a href="{% url 'blog:detail' post.id %}">{{ forloop.counter }}.{{ post.title }}({{ post.views }})</a></p>
        {% endfor %}
    </div>
    <br>

    <p>评论排行榜</p>
    <hr>
    <div>
        {% comment_ranking as post_list %}
        {% for post in post_list %}
            <p><a href="#">{{ forloop.counter }}.{{ post.title }}({{ post.num_comment }})</a></p>
        {% endfor %}
    </div>
    <br>
</nav>