{% extends "base.html" %}

{% block title %}
    {{ novel.novel_name }} - 章节
{% endblock %}

{% block content %}
    <table class="table table-bordered" style="margin: 10px 0">
{#        <caption class="text-center">{{ novel.novel_name }}-章节</caption>#}
        <tbody>
        <tr>
            {% for chapter in chapters %}
                <td style="background-color: white;"><a href="{% url 'novel:chapter_detail' novel.id chapter.id %}">{{ chapter.chapter_name }}</a></td>
                {% if forloop.counter|divisibleby:4 %}
                    </tr>
                    <tr>
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}

