<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block custom_css %}{% endblock %}

    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: gainsboro; margin: 0 0 10px 0;">
<div class="container">
    <header>
        <nav class="nav navbar-default" role="navigation">
{#            <div class="navbar-header">#}
{#                <a class="navbar-brand" href="#">COCO3D</a>#}
{#            </div>#}
            <div>
                <ul class="nav navbar-nav">
                    <li {% ifequal request.path '/' %}class="active"{% endifequal %}><a href="{% url 'index' %}">首页</a></li>
                    <li {% ifequal request.path|slice:'9' '/authors/' %}class="active"{% endifequal %}><a href="{% url 'authors:authors_list' %}">作者</a></li>
                    <li {% ifequal request.path|slice:'16' '/novel/category/' %}class="active"{% endifequal %}><a href="{% url 'novel:category_list' %}">分类</a></li>
                </ul>
            </div>

            <div>
                <form class="navbar-form navbar-right" role="search"  action="{% url 'novel:search' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                          <input type="text" class="form-control" name="keyword" placeholder="Search" required>
                    </div>
                    <button type="submit" class="btn btn-default">搜一哈</button>
                </form>
            </div>
        </nav>
    </header>

    {% block bread %}{% endblock %}

    {% block content %}{% endblock %}

    <footer style="clear: both">
        <hr>
        <p style="text-align: center">
            <small>Copyright ©2018 gzgdouru@163.com</small>
        </p>
    </footer>
</div>
{% block custom_js %}{% endblock %}
</body>
</html>