<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <ul class="list-inline">
            <li><a href="/">首页</a></li>
        </ul>
        <hr>
    </header>

    {% block main %}{% endblock %}

    <footer style="clear: both">
        <hr>
        <p style="text-align: center">
            <small>Copyright ©2018 gzgdouru@163.com</small>
        </p>
    </footer>
</div>
</body>
</html>